<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="main-content"> 
        {{>header}}
        <p>This site was created by Quintin Sheridan. It uses the mapbox API to geocode the latitude and 
            longitude for the entered location and then uses the weatherstack API to get the current weather for that location.</p>
        <iframe height="400" src="https://www.youtube.com/embed/N5lIWti4VUw" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2>{{status}}</h2>
    </div>

    {{>footer}}
    
</body>

</html>